{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/base5x5.css' %}">
    <title>Chess Horse Solver</title>
</head>
    <body>
        <form method="POST">{% csrf_token %}
            <div class='board'>
                 {% if my_context %}
                    <div id="div1"><p>{{x0y0}}</p></div>
                    <div id="div1"><p>{{x0y1}}</p></div>
                    <div id="div1"><p>{{x0y2}}</p></div>
                    <div id="div1"><p>{{x0y3}}</p></div>
                    <div id="div1"><p>{{x0y4}}</p></div>

                    <div id="div2"><p>{{x1y0}}</p></div>
                    <div id="div2"><p>{{x1y1}}</p></div>
                    <div id="div2"><p>{{x1y2}}</p></div>
                    <div id="div2"><p>{{x1y3}}</p></div>
                    <div id="div2"><p>{{x1y4}}</p></div>

                    <div id="div1"><p>{{x2y0}}</p></div>
                    <div id="div1"><p>{{x2y1}}</p></div>
                    <div id="div1"><p>{{x2y2}}</p></div>
                    <div id="div1"><p>{{x2y3}}</p></div>
                    <div id="div1"><p>{{x2y4}}</p></div>

                    <div id="div2"><p>{{x3y0}}</p></div>
                    <div id="div2"><p>{{x3y1}}</p></div>
                    <div id="div2"><p>{{x3y2}}</p></div>
                    <div id="div2"><p>{{x3y3}}</p></div>
                    <div id="div2"><p>{{x3y4}}</p></div>

                    <div id="div1"><p>{{x4y0}}</p></div>
                    <div id="div1"><p>{{x4y1}}</p></div>
                    <div id="div1"><p>{{x4y2}}</p></div>
                    <div id="div1"><p>{{x4y3}}</p></div>
                    <div id="div1"><p>{{x4y4}}</p></div>

                {% else %}

                    <div id="div1"><button value="0,0" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,1" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,2" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,3" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,4" name="point" type="submit"></button></div>

                    <div id="div2"><button value="1,0" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,1" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,2" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,3" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,4" name="point" type="submit"></button></div>

                    <div id="div1"><button value="2,0" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,1" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,2" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,3" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,4" name="point" type="submit"></button></div>

                    <div id="div2"><button value="3,0" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,1" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,2" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,3" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,4" name="point" type="submit"></button></div>

                    <div id="div1"><button value="4,0" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,1" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,2" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,3" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,4" name="point" type="submit"></button></div>

                {% endif %}

            </div>
        </form>
    </body>
</html>

