{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
     <link rel="stylesheet" href="{% static 'css/base8x8.css' %}">
    <title>Chess Horse Solver</title>
</head>
    <body>
        <form method="POST">{% csrf_token %}
            <div class='board'>
                 {% if my_context %}
                    <div id="div1"><p>{{x0y0}}</p></div>
                    <div id="div1"><p>{{x0y1}}</p></div>
                    <div id="div1"><p>{{x0y2}}</p></div>
                    <div id="div1"><p>{{x0y3}}</p></div>
                    <div id="div1"><p>{{x0y4}}</p></div>
                    <div id="div1"><p>{{x0y5}}</p></div>
                    <div id="div1"><p>{{x0y6}}</p></div>
                    <div id="div1"><p>{{x0y7}}</p></div>

                    <div id="div2"><p>{{x1y0}}</p></div>
                    <div id="div2"><p>{{x1y1}}</p></div>
                    <div id="div2"><p>{{x1y2}}</p></div>
                    <div id="div2"><p>{{x1y3}}</p></div>
                    <div id="div2"><p>{{x1y4}}</p></div>
                    <div id="div2"><p>{{x1y5}}</p></div>
                    <div id="div2"><p>{{x1y6}}</p></div>
                    <div id="div2"><p>{{x1y7}}</p></div>

                    <div id="div1"><p>{{x2y0}}</p></div>
                    <div id="div1"><p>{{x2y1}}</p></div>
                    <div id="div1"><p>{{x2y2}}</p></div>
                    <div id="div1"><p>{{x2y3}}</p></div>
                    <div id="div1"><p>{{x2y4}}</p></div>
                    <div id="div1"><p>{{x2y5}}</p></div>
                    <div id="div1"><p>{{x2y6}}</p></div>
                    <div id="div1"><p>{{x2y7}}</p></div>

                    <div id="div2"><p>{{x3y0}}</p></div>
                    <div id="div2"><p>{{x3y1}}</p></div>
                    <div id="div2"><p>{{x3y2}}</p></div>
                    <div id="div2"><p>{{x3y3}}</p></div>
                    <div id="div2"><p>{{x3y4}}</p></div>
                    <div id="div2"><p>{{x3y5}}</p></div>
                    <div id="div2"><p>{{x3y6}}</p></div>
                    <div id="div2"><p>{{x3y7}}</p></div>

                    <div id="div1"><p>{{x4y0}}</p></div>
                    <div id="div1"><p>{{x4y1}}</p></div>
                    <div id="div1"><p>{{x4y2}}</p></div>
                    <div id="div1"><p>{{x4y3}}</p></div>
                    <div id="div1"><p>{{x4y4}}</p></div>
                    <div id="div1"><p>{{x4y5}}</p></div>
                    <div id="div1"><p>{{x4y6}}</p></div>
                    <div id="div1"><p>{{x4y7}}</p></div>

                    <div id="div2"><p>{{x5y0}}</p></div>
                    <div id="div2"><p>{{x5y1}}</p></div>
                    <div id="div2"><p>{{x5y2}}</p></div>
                    <div id="div2"><p>{{x5y3}}</p></div>
                    <div id="div2"><p>{{x5y4}}</p></div>
                    <div id="div2"><p>{{x5y5}}</p></div>
                    <div id="div2"><p>{{x5y6}}</p></div>
                    <div id="div2"><p>{{x5y7}}</p></div>

                    <div id="div1"><p>{{x6y0}}</p></div>
                    <div id="div1"><p>{{x6y1}}</p></div>
                    <div id="div1"><p>{{x6y2}}</p></div>
                    <div id="div1"><p>{{x6y3}}</p></div>
                    <div id="div1"><p>{{x6y4}}</p></div>
                    <div id="div1"><p>{{x6y5}}</p></div>
                    <div id="div1"><p>{{x6y6}}</p></div>
                    <div id="div1"><p>{{x6y7}}</p></div>

                    <div id="div2"><p>{{x7y0}}</p></div>
                    <div id="div2"><p>{{x7y1}}</p></div>
                    <div id="div2"><p>{{x7y2}}</p></div>
                    <div id="div2"><p>{{x7y3}}</p></div>
                    <div id="div2"><p>{{x7y4}}</p></div>
                    <div id="div2"><p>{{x7y5}}</p></div>
                    <div id="div2"><p>{{x7y6}}</p></div>
                    <div id="div2"><p>{{x7y7}}</p></div>


                {% else %}

                    <div id="div1"><button value="0,0" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,1" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,2" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,3" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,4" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,5" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,6" name="point" type="submit"></button></div>
                    <div id="div1"><button value="0,7" name="point" type="submit"></button></div>

                    <div id="div2"><button value="1,0" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,1" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,2" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,3" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,4" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,5" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,6" name="point" type="submit"></button></div>
                    <div id="div2"><button value="1,7" name="point" type="submit"></button></div>

                    <div id="div1"><button value="2,0" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,1" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,2" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,3" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,4" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,5" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,6" name="point" type="submit"></button></div>
                    <div id="div1"><button value="2,7" name="point" type="submit"></button></div>

                    <div id="div2"><button value="3,0" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,1" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,2" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,3" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,4" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,5" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,6" name="point" type="submit"></button></div>
                    <div id="div2"><button value="3,7" name="point" type="submit"></button></div>

                    <div id="div1"><button value="4,0" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,1" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,2" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,3" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,4" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,5" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,6" name="point" type="submit"></button></div>
                    <div id="div1"><button value="4,7" name="point" type="submit"></button></div>

                    <div id="div2"><button value="5,0" name="point" type="submit"></button></div>
                    <div id="div2"><button value="5,1" name="point" type="submit"></button></div>
                    <div id="div2"><button value="5,2" name="point" type="submit"></button></div>
                    <div id="div2"><button value="5,3" name="point" type="submit"></button></div>
                    <div id="div2"><button value="5,4" name="point" type="submit"></button></div>
                    <div id="div2"><button value="5,5" name="point" type="submit"></button></div>
                    <div id="div2"><button value="5,6" name="point" type="submit"></button></div>
                    <div id="div2"><button value="5,7" name="point" type="submit"></button></div>

                    <div id="div1"><button value="6,0" name="point" type="submit"></button></div>
                    <div id="div1"><button value="6,1" name="point" type="submit"></button></div>
                    <div id="div1"><button value="6,2" name="point" type="submit"></button></div>
                    <div id="div1"><button value="6,3" name="point" type="submit"></button></div>
                    <div id="div1"><button value="6,4" name="point" type="submit"></button></div>
                    <div id="div1"><button value="6,5" name="point" type="submit"></button></div>
                    <div id="div1"><button value="6,6" name="point" type="submit"></button></div>
                    <div id="div1"><button value="6,7" name="point" type="submit"></button></div>

                    <div id="div2"><button value="7,0" name="point" type="submit"></button></div>
                    <div id="div2"><button value="7,1" name="point" type="submit"></button></div>
                    <div id="div2"><button value="7,2" name="point" type="submit"></button></div>
                    <div id="div2"><button value="7,3" name="point" type="submit"></button></div>
                    <div id="div2"><button value="7,4" name="point" type="submit"></button></div>
                    <div id="div2"><button value="7,5" name="point" type="submit"></button></div>
                    <div id="div2"><button value="7,6" name="point" type="submit"></button></div>
                    <div id="div2"><button value="7,7" name="point" type="submit"></button></div>




                {% endif %}

            </div>
        </form>
    </body>
</html>

